
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['add']">Add Exercise</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a 
      routerLinkActive="active"
      [routerLink]="[i]"
      *ngFor="let exerciseItem of exercises; let i = index"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4>{{ exerciseItem.name }}</h4>
        <p>{{ exerciseItem.description }}</p>        
      </div>
      <span class="pull-right">{{ exerciseItem.sets }} x {{ exerciseItem.reps }}</span>
    </a>
  </div>
</div>